<div class="likes">
    {% if can_like %}
        <a class="like-link {{ like_class }} has-text ajax"
           data-method="post"
           data-replace-closest=".likes"
           href="{{ like_url }}">
           <i class="{% if like_class == 'icon-heart' %}fa{% else %}far{% endif %} fa-thumbs-up"></i>
        
    
    <span class="count-label">
        <span class="count">{{ like_count }}</span>
        Beğeni
    </span>
</a>
{% else %}
<span class="count-label">
        <span class="count">{{ like_count }}</span>
        Beğeni
    </span>
{% endif %}
</div>
