{% extends 'base.html' %}
{% load static pinax_likes_tags pinax_comments_tags bootstrap %}

{% block head %}
<script defer src="{% static 'jquery-3.5.1.min.js' %}"></script>
<script defer src="{% static 'eldarion-ajax.js' %}"></script>
{% endblock head %}

{% block body %}

<h4>yazar: {{ entry.author.username }}</h4>

{% if editable %}
<a href="{% url 'content:entry_edit' entry.slug %}">Düzenle</a>
<a href="{% url 'content:entry_delete' entry.slug %}">Sil</a>
<br>
{% endif %}

<h1>{{ entry.title }}</h1>
<h3><pre>{{ entry.body }}</pre></h3>

{% likes_widget request.user entry %}

<div class="list-group">
    <div class="list-group-item">
        {% comment_target entry as post_url %}
        {% comment_form entry as comment_form %}
        <form class="form" method="post" action="{{ post_url }}">
            {% csrf_token %}
            {{ comment_form|bootstrap }}
            <button class="btn btn-primary">Post Message</button>
        </form>
    </div>
    
    {% comments entry as wall_comments %}
    {% for comment in wall_comments %}
    <div class="list-group-item">
        {{ comment.comment|linebreaks }}
        <div class="meta">
            <small class="text-muted pull-right">{{ comment.submit_date }}</small>
            <small class="text-muted">
                <a>
                    {{ comment.author }}
                </a>
            </small>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock body %}