{% extends 'base.html' %}

{% block body %}

<div class="slider-main h-500x h-sm-auto pos-relative pt-95 pb-25">
    <div class="img-bg bg-11 bg-layer-4"></div>
    <div class="container-fluid h-100 mt-xs-50">
        <div class="dplay-tbl">
            <div class="dplay-tbl-cell color-white text-center">
            
                <h1 class="ptb-50"><b>SPORT</b></h1>
                
            </div><!-- dplay-tbl-cell -->
        </div><!-- dplay-tbl -->
    </div><!-- container -->
</div><!-- slider-main -->


<section class="bg-1-white ptb-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-md-12 col-lg-8 ptb-50 pr-30 pr-md-15">
                
                <h4 class="mb-30 mt-20 clearfix"><b>Yayınlanmış şiirler</b></h4>
                
                
                <div class="row">
                  
                    {% for entry in entries %}
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4 mb-30">
                        <div class="card h-100 h-xs-350x">
                            <div class="bg-white h-100">
                            
                                <!-- SETTING IMAGE WITH bg-3 -->
                                <div class="h-50 bg-8 dplay-lg-none dplay-xs-block"></div>
                                
                                <div class="plr-25 ptb-15 h-50">
                                    <div class="dplay-tbl">
                                        <div class="dplay-tbl-cell">
                                        
                                            <h5 class="color-ash"><b>{{ entry.author.username }}</b></h5>
                                            <h4 class="mtb-10">
                                                <a href="{{ entry.get_absolute_url }}"><b>{{ entry.title }}</b></a></h4>
                                            
                                            
                                        </div><!-- dplay-tbl-cell -->
                                    </div><!-- dplay-tbl -->
                                </div><!-- plr-25 ptb-15 -->
                            </div><!-- hot-news -->
                        </div><!-- card -->
                    </div><!-- col-lg-4 col-md-6 -->
                    {% endfor %}
                    
                </div><!-- row -->

                
                
            </div><!-- col-sm-9 -->
           
        </div><!-- row -->
    </div><!-- container -->
</section>


{% endblock body %}