{% load static %}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ doc.title|default:'Şiir Paylaşım' }}</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />    <link href="{% static 'quitelight/plugin-frameworks/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'quitelight/plugin-frameworks/swiper.css' %}" rel="stylesheet">
	<link href="{% static 'quitelight/fonts/ionicons.css' %}" rel="stylesheet">
    <link href="{% static 'quitelight/common/styles.css' %}" rel="stylesheet">
    
    <script defer src="{% static 'quitelight/plugin-frameworks/jquery-3.2.1.min.js' %}"></script>
	<script defer src="{% static 'quitelight/plugin-frameworks/bootstrap.min.js' %}"></script>
	<script defer src="{% static 'quitelight/plugin-frameworks/swiper.js' %}"></script>
	<script defer src="{% static 'quitelight/common/scripts.js' %}"></script>
    
    {% block head %}
    {% endblock head %}
</head>
<body>
    <header>
		<a class="logo" href="#"><img src="{% static 'quitelight/images/logo-white.png' %}" alt="Logo"></a>
		
		
		
		<a class="menu-nav-icon" data-menu="#main-menu" href="#"><i class="ion-navicon"></i></a>
		
		<ul class="main-menu" id="main-menu">
			<li><a href="{% url 'content:home' %}">Anasayfa</a></li>
			<li><a href="{{ selected.entry.get_absolute_url }}">Haftanın şiiri</a></li>
			<li><a href="{% url 'content:entry_create' %}">Şiir yaz</a></li>
			<li><a href="{% url 'content:entry_list' %}">Şiirler</a></li>
			<li><a href="{% url 'identity:user_list' %}">Şairler</a></li>
			{% if not request.user.is_authenticated %}
			<li><a href="{% url 'login' %}">Giriş yap</a></li>
			<li><a href="{% url 'register' %}">Kaydol</a></li>
			{% else %}
			<li><a href="{% url 'identity:user_detail' request.user.pk %}">Hesap: {{ request.user.username }}</a></li>
			{% endif %}
		</ul>
		
		<div class="clearfix"></div>
	</header>
    {% block body %}
    {% endblock body %}

    

    {% block foot %}
    {% endblock foot %}
    <footer class="bg-191 color-ash pt-50 pb-20 text-left center-sm-text">
		
		<div class="container-fluid">
			<div class="row">
			
				<div class="col-lg-1"></div>
				
				<div class="col-md-4 col-lg-6 mb-30">
					<div class="card h-100">
						<div class="dplay-tbl">
							<div class="dplay-tbl-cell">
							
								<a href="#"><img src="{% static 'quitelight/images/logo-white.png' %}"></a>
								
								
							</div><!-- dplay-tbl-cell -->
						</div><!-- dplay-tbl -->
					</div><!-- card -->
				</div><!-- col-lg-4 col-md-6 -->
				
				<div class="col-md-4 col-lg-2 mb-30">
					<div class="card h-100">
						<div class="dplay-tbl">
							<div class="dplay-tbl-cell">
							
								<ul class="list-a-plr-10">
									<li><a href="#"><i class="ion-social-facebook"></i></a></li>
									<li><a href="#"><i class="ion-social-twitter"></i></a></li>
									<li><a href="#"><i class="ion-social-youtube"></i></a></li>
								</ul>
								
							</div><!-- dplay-tbl-cell -->
						</div><!-- dplay-tbl -->
					</div><!-- card -->
				</div><!-- col-lg-4 col-md-6 -->
				
				<div class="col-md-4 col-lg-2 mb-30 text-left">
					<div class="card h-100">
						<div class="dplay-tbl">
							<div class="dplay-tbl-cell">
								<form class="form-block form-brdr-b mx-w-400x m-auto">
						
									<input class="color-white ptb-15 center-sm-text" type="text" placeholder=" Your Email">
									<button class="mt-30 btn-brdr-grey color-ash w-100 text-center" type="submit">SUBSCRIBE</button>
								
								</form>
							</div><!-- dplay-tbl-cell -->
						</div><!-- dplay-tbl -->
					</div><!-- card -->
				</div><!-- col-lg-4 col-md-6 -->
				
			</div><!-- row -->
		</div><!-- container -->
	</footer>
</body>
</html>
